@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

@keyframes scan {
  0% {
    top: 0;
  }

  50% {
    top: calc(100% - 4px);
  }

  100% {
    top: 0;
  }
}

